.checkoutButtons {
    display: flex;
    justify-content: space-between;
    gap: 15px;
    margin-top: 20px;
}
.checkoutHeaders{
    margin: 10px 0px
}
.successSection{
  margin: 10px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.successHeader {
  margin-top: 100px;
  text-align: center;
  font-size: 36px;

}
.successText{
  font-size: 18px;
  text-align: center;
}

.successIconDiv{
  margin-top: 40px;
  display: flex;
  justify-content: center;
}
.successButtonDiv{
  margin-top: 40px;
  display: flex;
  justify-content: center;
}
@media screen and (min-width: 768px) {
  .checkoutContentDiv {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    gap: 40px;
    margin-right: 15px
  }
  .orderOverviewDiv{
    width: 40%;
  }
  .checkoutFormDiv{
    width: 65%;
  }
}
