.red {
    color: #9c191d;
}

.light-blue {
    color: #4e93cc;
}

.dark-blue {
    color: #1d1f63
}

.green {
    color: #2e5737
}

.black {
    color: #0f0f0f
}

.grey {
    color: #736f6f
}

.container {
    margin: 2rem 0;
}

.imageContainer {
    width: 100%;
    max-width: 800px;
}

.detailsContainer {
    width: 100%
}

@media (min-width: 768px) {


    .imageContainer {
        width: 60%;
        max-width: 800px;
    }
    
    .detailsContainer {
        width: 40%
    }
  }